<h3 class='heading'>Это новый конструктор</h3>
<div class="display">
    <canvas id="can" width="1000" height="800"></canvas>
</div>
<div class="instruments">
    <button class="elem" onclick='drawRect()'>Draw rectangle</button>
    <button class="elem" onclick='selection()'>Select</button>
    <button class="elem" onclick='drawLine()'>Draw line</button>
    <button class="elem" onclick='drawCircle()'>Draw circle</button>
    <button class="elem" onclick='addText()'>Add text</button>
    <button class="elem" id="delete">Delete selected object(s)</button>
    <button class="elem" onclick='clearField()'>Clear</button>
</div>